$main-color: #C62642;

$text-color: rgb(77, 71, 71);

$light-color: #ddd;

$white-text: #fff;

$margin-width: 100px;

$base-width: 50px;

body {
    font-family: 'Allerta';
}

h4 {
    background-color: $main-color;
    margin: 0 ;
    padding: 10px 0 300px $margin-width;
    color: $white-text;
}

.container2 {
    position: absolute;
    // left: 50%;
    // transform: translate(-50%);
    top: 150px;
    background-color: #fff;
    padding: $base-width+10 $base-width*4;
    margin: 0 $margin-width;
    box-shadow: 2px 3px 10px 3px #aaa;

    .item {
        text-align: center;
        text-transform: uppercase;
        color: $text-color;
        font-weight: bold;
        font-size: small;
        }

        &::after {
            content: "";
            position: absolute;
            border: 1px solid $light-color;
            width: 50px;
            // height: 10px;
            top: 130px;
            left: 47.8%;
        }


    .content {
        display: flex;
        // padding: 0 80px 20px 50px;
        // padding-right: 50px;
        margin-top: 60px;
        padding:  0 0px;

        .part1 {
            padding-top: 30px;
            padding-right: 80px;

            h1 {
                margin: 0%;
                color: $main-color;
            }

            h5 {
                margin: 0%;
                text-transform: uppercase;
                // padding-right: 20px;
            }

            &::before {
                content: "";
                position: absolute;
                border: 1px solid $light-color;
                // background-color: $text-color;
                margin-left: 50px;
                height: 60%;
                transform: translate(-50%);
                top: 190px;
            }

            &::after {
                content:  "";
                position: absolute;
                height: 10px;
                width: 10px;
                border-radius: 50%;
                color: $main-color;
                transform: translate(50%);
                background-color: $main-color;
                left: 240px;
                top: 190px;
            }
        }

        .part2 {
            h1 {
                text-transform: uppercase;
                margin-bottom: 15px;
            }

            p {
                color: $text-color;
                margin-bottom: 40px;
            }

            .para {
                line-height: 25px;
            }

            .buttons {

                button {
                    text-transform: uppercase;
                    color: $main-color;
                    background-color: $white-text;
                    padding: 10px 25px;
                    border: 1px solid $main-color;
                    // font-size: smaller;

                    &:first-child {
                        color: $white-text;
                        background-color: $main-color;
                        margin-right: 20px;
                    }
                }

               
            }
        }

    }    
        

}
